<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Benvenuto in Symfony!</title>
    </head>
    <body>
        <h1>
            Benvenuto in Symfony!
        </h1>
    </body>
</html>